body{
    background-color: black;
}

.box{
    color: aqua;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border: 2px solid white;
    display: inline-block;
    margin: 3px;
}

.box:hover{
    background-color: white;
}

.box:nth-child(odd):hover{
    background-color: blueviolet;
}